@inject NavigationManager Navigation

<div class="user-info">
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            <img src="img/user.svg" />
            <div>
                <a href="Identity/Account/Manage" class="username">@context.User.Identity?.Name</a>
                <a href="Identity/Account/Logout" class="btn btn-link sign-out">Sign out</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a class="sign-in" href="Identity/Account/Register">Register</a>
            <a class="sign-in" href="Identity/Account/Login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>